# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
# get all the files under the root and in every subdiretcory
    file_path_list = glob.glob(os.path.join(root,'*'))
    print(file_path_list)

/workspace/home
['/workspace/home/event_data/2018-11-29-events.csv', '/workspace/home/event_data/2018-11-28-events.csv', '/workspace/home/event_data/2018-11-16-events.csv', '/workspace/home/event_data/2018-11-22-events.csv', '/workspace/home/event_data/2018-11-12-events.csv', '/workspace/home/event_data/2018-11-27-events.csv', '/workspace/home/event_data/2018-11-02-events.csv', '/workspace/home/event_data/2018-11-03-events.csv', '/workspace/home/event_data/2018-11-06-events.csv', '/workspace/home/event_data/2018-11-19-events.csv', '/workspace/home/event_data/2018-11-17-events.csv', '/workspace/home/event_data/2018-11-07-events.csv', '/workspace/home/event_data/2018-11-09-events.csv', '/workspace/home/event_data/2018-11-10-events.csv', '/workspace/home/event_data/2018-11-11-events.csv', '/workspace/home/event_data/2018-11-30-events.csv', '/workspace/home/event_data/2018-11-13-events.csv', '/workspace/home/event_data/2018-11-20-events.csv', '/workspace/home/event_data/2018-11-26-events.csv', '/workspace/home/event_data/2018-11-08-events.csv', '/workspace/home/event_data/2018-11-05-events.csv', '/workspace/home/event_data/2018-11-04-events.csv', '/workspace/home/event_data/2018-11-21-events.csv', '/workspace/home/event_data/2018-11-14-events.csv', '/workspace/home/event_data/2018-11-24-events.csv', '/workspace/home/event_data/2018-11-15-events.csv', '/workspace/home/event_data/2018-11-01-events.csv', '/workspace/home/event_data/2018-11-23-events.csv', '/workspace/home/event_data/2018-11-25-events.csv', '/workspace/home/event_data/2018-11-18-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

    # reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
        # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

#### Clean data

In [5]:
# convert csv file into a pandas dataframe
songs_df = pd.read_csv('event_datafile_new.csv')

songs_df.dropna()

with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [6]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [7]:
# TO-DO: Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS songslib 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [8]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('songslib')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [9]:
# drop table if i t exists
query = "DROP TABLE IF EXISTS song_detail;"
try:
    session.execute(query)
except Exception as e:
    print(e)

# next create the table
query = """CREATE TABLE IF NOT EXISTS song_detail
        (artist text, song_title text, song_length float, session_id int, item_in_session int, 
        PRIMARY KEY (session_id, item_in_session));"""
try:
    session.execute(query)
except Exception as e:
    print(e)

In [10]:
# next is to insert the data
fp = 'event_datafile_new.csv'

with open(fp, encoding = 'utf8') as fl:
    reader = csv.reader(fl)
    next(reader) ## skip the headers
    for row in reader:
        query = "INSERT INTO song_detail (artist, song_title, song_length, session_id, item_in_session)"
        query = query + " VALUES (%s, %s, %s, %s, %s)"

        try:
            session.execute(query, (row[0], row[9], float(row[5]), int(row[8]), int(row[3])))
        except Exception as e:
            print(e)

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

In [11]:
# execute the query 
qu = """SELECT artist, song_title, song_length 
        FROM song_detail
        WHERE session_id=%s AND item_in_session=%s """
try:
    rows = session.execute(qu, (338, 4))
except Exception as e:
    print(e)

for row in rows:
    print("Artist Name:", row.artist, ", Song Title: ",  row.song_title, ", Duration :", row.song_length)

Artist Name: Faithless , Song Title:  Music Matters (Mark Knight Dub) , Duration : 495.30731201171875

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [12]:
# drop table 
query = "DROP TABLE IF EXISTS artist_detail;"
try:
    session.execute(query)
except Exception as e:
    print(e)

## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

#  create the second table
query = """CREATE TABLE IF NOT EXISTS artist_detail 
        (user_id int, session_id int, artist text, song_title text, user_first text, user_last text, item_in_session int, 
        PRIMARY KEY (user_id, session_id, item_in_session)) 
        WITH CLUSTERING ORDER BY (session_id ASC, item_in_session ASC);"""
try:
    session.execute(query)
except Exception as e:
    print(e)

In [13]:
# insert data into artist_detail table
# next is to insert the data
csvFile = 'event_datafile_new.csv'

with open(csvFile, encoding = 'utf8') as readFile:
    reader = csv.reader(readFile)
    next(reader) ## skip the headers
    for row in reader:
        query = "INSERT INTO artist_detail (user_id, session_id, artist, song_title, user_first, user_last, item_in_session)"
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s)"

        try:
            session.execute(query, (int(row[10]), int(row[8]), row[0], row[9], row[1], row[4], int(row[3])))
        except Exception as e:
            print(e)

In [14]:
# get some records just to check the contents

qu = """SELECT artist, song_title, user_first, user_last, item_in_session
        FROM artist_detail
        WHERE user_id=%s AND session_id=%s 
        ORDER BY session_id, item_in_session;
        """
try:
    rows = session.execute(qu, (10, 182))
except Exception as e:
    print(e)

for row in rows:
    print("Artist:", row.artist, ", Song:",  row.song_title, ", user :", row.user_first, row.user_last)

Artist: Down To The Bone , Song: Keep On Keepin' On , user : Sylvie Cruz
Artist: Three Drives , Song: Greece 2000 , user : Sylvie Cruz
Artist: Sebastien Tellier , Song: Kilometer , user : Sylvie Cruz
Artist: Lonnie Gordon , Song: Catch You Baby (Steve Pitron & Max Sanna Radio Edit) , user : Sylvie Cruz

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [15]:
# drop table 
query = "DROP TABLE IF EXISTS song_listener;"
try:
    session.execute(query)
except Exception as e:
    print(e)

#  create the second table
query = """
        CREATE TABLE IF NOT EXISTS song_listener 
        (
            song_title text, user_id int, user_first text, user_last text,
            PRIMARY KEY (song_title, user_id)
        );
        """
try:
    session.execute(query)
except Exception as e:
    print(e)

In [16]:
# insert data into song_listener table
csvFile = 'event_datafile_new.csv'

with open(csvFile, encoding = 'utf8') as readFile:
    reader = csv.reader(readFile)
    next(reader) ## skip the headers
    for row in reader:
        query = "INSERT INTO song_listener (song_title, user_id, user_first, user_last)"
        query = query + " VALUES (%s, %s, %s, %s)"

        try:
            session.execute(query, (row[9], int(row[10]), row[1], row[4]))
        except Exception as e:
            print(e)

In [17]:
# execute the query on song_lstener table
qu = """SELECT song_title, user_first, user_last
        FROM song_listener
        WHERE song_title=%s 
       ;
        """
try:
    rows = session.execute(qu, ('All Hands Against His Own',))
except Exception as e:
    print(e)

for row in rows:
    print("User :", row.user_first, row.user_last)

User : Jacqueline Lynch
User : Tegan Levine
User : Sara Johnson

### Drop the tables before closing out the sessions

In [18]:
## TO-DO: Drop the table before closing out the sessions

In [19]:
# drop table 
query = "DROP TABLE IF EXISTS song_detail;"
try:
    session.execute(query)
except Exception as e:
    print(e)
    
# drop table 
query = "DROP TABLE IF EXISTS artist_detail;"
try:
    session.execute(query)
except Exception as e:
    print(e)
    
    
# drop table 
query = "DROP TABLE IF EXISTS song_listener;"
try:
    session.execute(query)
except Exception as e:
    print(e)

### Close the session and cluster connectionÂ¶

In [20]:
session.shutdown()
cluster.shutdown()